@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold"),
    url(../fonts/segoe_ui/segoe_ui_bold.ttf) format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI Regular"),
    url(../fonts/segoe_ui/segoe_ui_regular.ttf) format("truetype");
}
