.header {
  & a {
    text-decoration: none;
    color: #303030;
    transition: $transition;
  }

  & a:hover {
    color: #30303080;
    transition: $transition;
  }

  &_part {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .dropdown {
    min-width: 200px;
    display: flex;
    margin: 0 40px 0 0;

    &-selected {
      display: flex;
      justify-content: start;
      width: 100%;
      position: relative;
      fill: #303030;
      color: #303030;
      transition: $transition;
      padding: 10px 0;

      &:hover {
        color: #30303080;
        fill: #30303080;
      }

      & svg {
        fill: inherit;
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }

      &::after {
        content: '';
        position: absolute;
        right: 38px;
        top: 15px;
        width: 5px;
        height: 5px;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(45deg);
      }
    }
  }

  & .phone {
    position: relative;
    padding: 10px 0 10px 2px;
    margin-left: 9px;
    fill: #303030;
    display: flex;
    align-items: center;

    & svg {
      margin-right: 10px;
    }

    &:hover {
      fill: #30303080;
    }
  }

  & .logo {
    margin: 24px 0;
    width: 183px;
    height: 52px;
    background: url(../images/header/logo.png);
  }

  & .login {
    display: flex;

    & a {
      padding: 10px 10px;
      position: relative;
    }

    & a::after {
      content: '|';
      position: absolute;
      right: -1px;
      color: #303030;
    }

    & a:last-child::after {
      display: none;
    }
  }

  & .icons {
    display: flex;
    align-items: center;
    margin-left: 50px;

    .favourites {
      position: relative;

      &::after {
        content: '23';
        width: 19px;
        height: 19px;
        position: absolute;
        bottom: 14px;
        left: 20px;
        background-color: #e46942;
        color: #fff;
        border-radius: 50%;
        font-family: Inter;
        font-weight: 700;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    a {
      width: 32px;
      height: 32px;
      margin: 0 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition;


      &:hover {
        transition: $transition;
        background-color: #f8f8f8;
      }

      &:active {
        background-color: #e8e7e7;
      }
    }
  }

  & .navigation {
    display: flex;
    align-items: center;
    height: 62px;
    background-color: #f8f8f8;

    & .nav {
      margin: 0 0 0 20px;
      flex: 3;

      & .burgerbtn {
        display: none;
      }

      & .dropdown {
        display: none;
      }

      &_menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &-item {
          display: block;
          list-style-type: none;
          padding: 5px;

          &.phone {
            display: none;
          }
        }
      }
    }
  }

  & .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 100px;
    height: 100%;
    outline: #303030;
    flex: 1;

    &::before {
      content: '';
      position: absolute;
      background-color: #f0f0f0;
      height: inherit;
      width: 1px;
      left: -24px;
      top: 0;
    }

    &-icon {
      fill: #303030;
      margin: 0 12px 0 0;
      transition: $transition;
    }

    &-input {
      outline: transparent;
      border: none;
      background-color: transparent;
    }

    &:hover .search-icon {
      fill: #30303080;
      transition: $transition;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    &_part {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      & .dropdown {
        margin: 0px 15px;

      }

      & .phone {
        margin: 0px 15px;
        width: 200px;
      }

      & .login {
        margin: 0px 15px;

      }

      & .icons {
        margin: 5px 15px 0 15px;
      }

    }

    & .navigation {

      & .nav {
        position: relative;

        & .burgerbtn {
          display: inline-block;
        }

        &_menu {
          display: none;
          background-color: #fff;
          z-index: 999;
          padding: 10px;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          position: absolute;
          top: 100%;
          left: 0;
          animation: growDown 300ms ease-in-out forwards;
          transform-origin: top center;
          box-shadow: 0 8px 20px 0 #0000001A;

          &.open {
            display: flex;
          }

          &-link {
            text-transform: none;
          }


        }
      }
    }
  }
}

@media (max-width: 620px) {
  .header {

    & .dropdown,
    & .phone {
      display: none;
    }

    & .logo {
      margin: 5px;
      padding: 10px;
      width: 150px;
      height: 44px;
      background-image: url(../images/header/logo.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    & .navigation {

      & .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .burgerbtn {
          display: block;
        }

        & .dropdown {
          display: flex;
          margin: 0 10px;
          padding: 10px 0;
        }

        & .phone {
          display: block;
          margin: 0;

          &::before {
            display: none;
          }
        }
      }

      & .search {
        margin: 0;
        position: relative;

        &-input {
          transition: $transition;
          position: absolute;
          right: 0;
          top: 100%;
          padding: 10px;
          background-color: #f8f8f8;
          display: none;
          animation: growDown 300ms ease-in-out forwards;
          transform-origin: top center;

          &.open {
            display: block;
          }
        }
      }
    }
  }
}