.logo {
  display: block;
  background-color: transparent;
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 60px;
}
