.main_promo {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 0;
  margin: 20px 0 0 0;

  &__slide {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../images/main_slider/diamond_bg.svg),
      url(../images/main_slider/ring_bg.png);
    padding: 120px;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    background-size: 720px auto, 500px auto;
    background-position: 0px 0px, 750px 0px;

    & h1 {
      @include font-prata-400;
      font-size: 50px;
      line-height: 50px;
      text-transform: uppercase;
    }

    & h3 {
      @include font-prata-400;
      font-size: 20px;
      line-height: 20px;
      margin: 54px 0 30px 0;
    }

    & .button-dark {}
  }

  & .button-circle-left {
    position: absolute;
    top: 223px;
    left: 24px;
  }

  & .button-circle-right {
    position: absolute;
    top: 223px;
    right: 24px;
  }

  &_slider {
    min-width: 0;
    display: flex;

    &__pagination {
      display: flex;
      justify-content: center;
      position: absolute;
      display: flex;
      bottom: 24px;
      width: 100%;
      z-index: 999;

      & .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .slick-dots li {
        font-size: 0;
        list-style: none;
        margin: 0px 4px;
      }

      & .slick-dots li button {
        border: 1px solid #303030;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        background-color: transparent;
        cursor: pointer;
      }

      & .slick-dots li.slick-active button {
        background-color: #303030;
        border: none;
      }
    }

    & .slick-list {
      overflow: hidden;
    }

    & .slick-track {
      display: flex;
    }

  }
}

@media (max-width: 1200px) {
  .main_promo {
    &__slide {
      background-position: top left, top right;
      background-color: #f8f8f8;
    }
  }
}

@media (max-width: 1000px) {
  .main_promo {
    &__slide {
      background-image: url(../images/main_slider/diamond_bg.svg);
      background-size: 720px auto;
      background-position: top left;
    }
  }
}

@media (max-width: 770px) {
  .main_promo {
    margin: 0;

    & .button-circle-left,
    & .button-circle-right {
      opacity: 0;
      cursor: not-allowed;
      pointer-events: none;
    }

    &__slide {
      padding: 60px 30px;
      height: 300px;
      background-image: url(../images/main_slider/diamond_bg.svg),
        url(../images/main_slider/ring_bg.png);
      background-size: 50% auto, 280px auto;
      background-repeat: no-repeat;
      background-position: 13% 50%, 113% 50%;

      & h1 {
        font-size: 30px;
      }

      & h3 {
        font-size: 18px;
        margin: 10px 0 15px 0;
      }

    }

  }

}

@media (max-width: 530px) {
  .main_promo {

    &__slide {
      background-image: url(../images/main_slider/diamond_bg.svg);
      background-size: 50% auto;
      background-repeat: no-repeat;
      background-position: 13% 50%;
    }
  }
}