.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 20px;
  color: #303030;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  min-width: 310px;
  position: relative;
  transition: $transition;

  &_icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 98;

    & .card_icon {
      margin: 5px;
    }
  }

  &_promos {
    display: flex;
    color: #fff;
    min-height: 25px;

    & .promo {
      &.black {
        background-color: #495159;
      }

      &.yellow {
        background-color: #e1a661;
      }

      &.green {
        background-color: #5b8a8f;
      }
    }
  }

  &_slider {
    min-width: 0;
    display: flex;
    width: 200px;
    height: 200px;

    &_wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      margin: 0 0 26px 0;
    }

    &__pagination {
      display: flex;
      justify-content: center;
      position: absolute;
      display: flex;
      left: 0;
      bottom: 0;
      width: 100%;

      & .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .slick-dots li {
        font-size: 0;
        list-style: none;
        margin: 0px 4px;
      }

      & .slick-dots li button {
        border: 1px solid #303030;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        background-color: transparent;
        cursor: pointer;
      }

      & .slick-dots li.slick-active button {
        background-color: #303030;
        border: none;
      }
    }

    & .slick-list {
      overflow: hidden;
    }

    & .slick-track {
      display: flex;
    }

  }

  &_price {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    display: flex;
    align-items: end;
    position: relative;
    min-height: 22px;

    &-old {
      color: #8f8f8f;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      margin: 0 0 0 8px;
      position: relative;
    }

    &-old::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1.5px;
      background-color: #8f8f8f;
      top: 50%;
      left: 0;
    }

    & .promo {
      background-color: #e24b33;
      color: #fff;
      right: 0;
      position: absolute;
    }
  }

  &_description {
    margin: 16px 0 20px 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-family: Inter;
  }

  &:hover .dropdown {
    display: flex;
  }

  & .dropdown {
    width: 100%;
    background-color: #f0f0f0;
    margin: 4px 0;
    display: none;

    &-selected {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(45deg);
        right: 17px;
        top: 15px;
      }
    }

    &-checkbox {
      display: none;
    }

    // &-list {}

    // &-list-item {}
  }

  &:hover {
    box-shadow: 0 16px 32px #0000001A;
    transition: $transition;
  }
}

@media (max-width: 770px) {
  .card {
    box-shadow: 0 16px 32px #0000001A;
  }

  .card .dropdown {
    display: flex;

  }
}