//colors

$primarycolor: #303030;
$transition: 0.3s;


//fonts

@mixin font-prata-400 {
  font-family: 'Prata', serif;
  font-weight: 400;
}

@mixin font-inter-300 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

@mixin font-inter-400 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@mixin font-inter-500 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@mixin font-inter-600 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

// Animation

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.1)
  }

  100% {
    transform: scaleY(1)
  }
}

@keyframes shrinkUp {
  0% {
    transform: scaleY(1)
  }

  100% {
    transform: scaleY(0)
  }
}