@import './normalize';
@import './fonts';
@import './burger';
@import './vars';
@import './ui-kit';
@import './sku';
@import './header';
@import './main-promo';
@import './main-popular';
@import './main-sale';
@import './main-sale-ads';
@import './main-daily';
@import './main_articles';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #484848;
}

.wrapper {
  background-color: #fff;
  color: $primarycolor;
  font-size: 14px;
  @include font-inter-400;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

.main section {
  margin: 120px 0 0 0;

  @media (max-width: 1300px) {
    padding: 0 10px;
  }

  @media (max-width: 770px) {
    margin: 60px 0 0 0;
  }
}