*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "./normalize";
@import "./fonts";
@import "./vars";
@import "./button";
@import "./sku";
@import "./logo";
@import "./header";
@import "./main";
@import "./footer";

body {
  background-color: $color-dark;
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 620px;

  @media (width < 630px) {
    max-width: 90%;
  }
}

.wrapper {
  $width: 1000px;
  display: flex;
  flex-direction: column;
  width: $width;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 22, 0) 0%,
      $color-dark 100%
    ),
    url("../images/bgall.jpg");
  background-size: $width 40%, $width;
  background-repeat: no-repeat, no-repeat;
}

.main {
  flex: 1;
}
